.load_new_captcha >.fa{font-size: 20px;color: #f39c12;}
.modal-dialog.large{width: 80%;}
.modal-dialog.large_auc{width: 90%;}
textarea{height: 100%;}
.frm-dropdown-caret{position: absolute;right: 10px;top: 50%; margin-top: -1px;}

/* Auction category menu*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.custom_form_fields .box-header { background-color:#f4f4f4; padding:15px; }
.custom_form_fields .box-header .box-title { font-weight:600; color:#555; }

.custom_form_fields .box-body { padding:15px; }

.custom_form_fields .custom_form_fields_sub {  background-color:#fbfbfb; margin-bottom:15px;} 
.custom_form_fields b { color:#555; }
.smtp{ display:none;}
.tools{
    position: absolute;
}
.mandatory-field{color: #dd4b39;}

.ck-editor__editable_inline {
    min-height: 350px;
}
